@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply font-semibold tracking-wide text-orange-600 transition-colors  bg-transparent duration-200;
}

/* .default {
  @apply font-semibold tracking-wide text-white transition-colors duration-200 hover:text-[#4293E5];
} */

.li a.active{
  background-color: transparent;
}


.gradient-btn{
  background: linear-gradient(90deg, #835D23 0%, #B58130 100%);
  color: white;
}